* {
  font-family: "Roboto", Arial, sans-serif;
}

body {
    // Reset CSS
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  
}

// ------------------- Font

@font-face {
  font-family: "Roboto";
  src: url("/font/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoLight";
  src: url("/font/Roboto/Roboto-Light.ttf");
}

// ------------------- Nav

header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0 10spx 0;
  align-items: center;
  h1 {
    color: #808080;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    li {
      color: #808080;
      text-transform: uppercase;
    }
    #sign {
      color: white;
      background-color: #00e1ff;
      padding: 4px 25px 4px 25px;
      border-radius: 50px;
    }
  }
}

// ------------------- Héro

.hero {
  background: url(/img/hero.jpg) no-repeat;
  margin: 0 auto;
  width: auto;
  height: 75%;
  background-size: contain;
  .wrapper-text {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: end;
    .contain-star {
      display: flex;
      align-items: center;
      gap: 3px;
      padding-bottom: 40px;
    }
    p {
      width: 850px;
      display: flex;
      text-align: center;
      padding-bottom: 100px;
    }
  }
}

// ------------------- About

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  h2 {
    padding-bottom: 40px;
    color: #00e1ff;
  }
  p {
    text-align: center;
    width: 900px;
  }
}

// ------------------- Team

.team {
  background-color: #00e1ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  .wrapper {
    display: flex;
    flex-direction: column;
    h2 {
      color: white;
    }
    .staff {
      display: flex;
      gap: 50px;
      text-align: center;
      color: white;
      .member {
        display: flex;
        flex-direction: column;
        gap: 15px;
        p {
          font-style: italic;
          font-family: "RobotoLight", Arial, sans-serif;
        }
      }
    }
    button {
      padding: 10px 20px 10px 20px;
      width: 150px;
      border-radius: 50px;
      color: white;
      background: #00e1ff;
      border: 1px solid white;
    }
  }
}
