@import './scss/_burger.scss';
@import './scss/_nav.scss';
@import './scss/_hero.scss';
@import './scss/_about.scss';
@import './scss/_team.scss';
@import './scss/_map.scss';
@import './scss/_footer.scss';


* {
  font-family: "Roboto", Arial, sans-serif;
}

body {
  // Reset CSS
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

div#menu {
  display: none;
}

// ------------------- Font

@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoLight";
  src: url("./font/Roboto/Roboto-Light.ttf");
}












// Media queries for 992 pixels
@media screen and (max-width: 992px) {

  // Header
  header{
    nav{
      width: 55%;
    }
  }

  // Section équipe
    section.team {
      article.wrapper {
        div.staff {
          width: 100%;
        }
      }
    }


  // Footer
    div.wrapper-footer {
      ul {
        width: 50%;
      }

      div.social {
        width: 35%;
      }
    }
    
    div.footer-bot {
        ul {
          width: 100%;
        }
    } 
  }


  // Media queries for 768 pixels
@media screen and (max-width: 768px) {
  // Menu burger
  div#menu {
    display: flex;
  }
  // Header 
  header {
    nav {
      width: 30%;
      ul {
        display: none;
        white-space: nowrap;
      }
    }
  }
  section.team {
    article.wrapper{
      width: 100%;
      div.staff {
        flex-wrap: wrap;
        justify-content: center;
        div.member {
          padding: 0 5% 5% 5%;
        }
      }
    }
  }
}